.container {
  position: relative;
  padding-top: 88px;
}

.car_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  row-gap: 48px;
  column-gap: 32px;

  margin: 0;
  padding: 0;
  list-style: none;
}
