.button_link {
  display: inline-block;
  padding: 12px 0;
  border: 1px solid;
  border-color: var(--btn-bg);
  border-radius: 12px;

  width: 100%;

  color: var(--base-text);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  transition: var(--transition-hover);
  transition-property: border-color;
}

.button_link:hover,
.button_link:focus {
  border-color: var(--btn-hover-bg);
}

.button_link_colored {
  background-color: var(--btn-bg);
  color: var(--card-bg);
  transition-property: background-color;
}

.button_link_colored:hover,
.button_link_colored:focus {
  background-color: var(--btn-hover-bg);
}
